In [6]:
import pandas as pd
import re
import urllib.parse
import json
import requests
from lxml import etree
import csv
import os
os.chdir(r'C:\Users\zzhu1\Documents\virus_spreading')

In [14]:
def extract_title(city):
    url=f'https://www.baidu.com/s?q1=冠状病毒%2C肺炎%2C{city}&q2=&q3=&q4=&gpc=stf&ft=&q5=1&q6=&tn=baiduadv'
    headers={
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'zh,zh-CN;q=0.9',
    'Connection': 'keep-alive',
    'Cookie': 'BIDUPSID=6FD89BE1E8F41E30AE2E6E3F2D876932; PSTM=1528768967; BAIDUID=63ADEAABAAACEDF1C4B17C3412F3F275:FG=1; BD_UPN=12314753; H_PS_PSSID=1464_21094_26350_30479; BDORZ=B490B5EBF6F3CD402E515D22BCDA1598; H_PS_645EC=2338pzhWnjn%2BbNPUe%2BDPHt2BJK2dfYLtu5kuQnZGOPqYa7LbHls84dTVhjwNWtA; delPer=0; BD_CK_SAM=1; PSINO=3; BDSVRTM=15',
    'Host': 'www.baidu.com',
    'Referer': 'https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=1&tn=baiduadv&wd=title%3A%20(%E5%86%A0%E7%8A%B6%E7%97%85%E6%AF%92%2C%E8%82%BA%E7%82%8E%2C%E5%AE%89%E5%BE%BD)&oq=title%253A%2520(%25E5%2586%25A0%25E7%258A%25B6%25E7%2597%2585%25E6%25AF%2592%252C%25E8%2582%25BA%25E7%2582%258E%252C%25E9%2587%258D%25E5%25BA%2586)&rsv_pq=da35c51600037495&rsv_t=297eWFagqkGJ%2BRZIuMniqG3%2Fc%2FKMX%2Bd1ELDLYdzRJ%2BJi8zoV3DU2fNc5ALqPGaM&rqlang=cn&rsv_enter=1&rsv_dl=tb&inputT=3116&rsv_sug3=93&rsv_sug2=0&rsv_sug4=4527',
    'Sec-Fetch-Mode': 'navigate',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-User': '?1',
    'Upgrade-Insecure-Requests': '1',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36'
    }
    page=requests.get(url,headers=headers)
    pagetext=page.text
    htmltext=etree.HTML(pagetext)
    tmptitle=[]
    content1=htmltext.xpath(f"//span[@class='nums_text']/text()")
    reg='约(.*?)个'
    infos =re.findall(reg,content1[0]) 
    infos1 = re.sub(',',"",infos[0])
    tmptitle.append(infos1)
    return tmptitle

In [25]:

province = ["湖北","北京","香港","广东",
            "云南","海南","吉林","上海",
            "广西","安徽","重庆","湖南",
            "福建","辽宁","四川","江西",
            "浙江","宁夏","山西","天津",
            "山东","黑龙江","江苏","澳门",
            "台湾","西藏","新疆","青海",
            "甘肃","陕西","贵州","内蒙古",
            "河南","河北"]
###抓取不同省份信息
filtitle=[]
for i in range(0,len(province)):
    #print(province[i])
    t=extract_title(province[i])
    #print(t)
    filtitle.append(t)
### 储存在dataframe中
count=pd.DataFrame(filtitle,columns=['title'])
province=pd.DataFrame(province,columns=['省份'])

湖北
['13800']
北京
['14600']
香港
['2350']
广东
['9190']
云南
['3720']
海南
['2550']
吉林
['2380']
上海
['10500']
广西
['5970']
安徽
['6080']
重庆
['5650']
湖南
['6980']
福建
['4240']
辽宁
['5070']
四川
['8110']
江西
['5190']
浙江
['5770']
宁夏
['2370']
山西
['3610']
天津
['4590']
山东
['8580']
黑龙江
['3240']
江苏
['4770']
澳门
['969']
台湾
['2150']
西藏
['958']
新疆
['3040']
青海
['2190']
甘肃
['5180']
陕西
['4460']
贵州
['3360']
内蒙古
['4080']
河南
['7240']
河北
['3880']

In [28]:
from pyecharts import options as opts
from pyecharts.charts import Map
Map_China = (
   Map()
   .add("",[list(z) for z in zip(province['省份'],count['title'])],"china")
   .set_global_opts(title_opts=opts.TitleOpts(title="中国地图",pos_left="center"))
)
Map_China.set_global_opts(visualmap_opts=opts.VisualMapOpts(max_=155,pos_left="15%",pos_bottom="10%",is_piecewise=True,  # 设置为分段
             pieces=[
                 {"min": 1, "max": 2000, "label": "1~2000", "color": "green"},
                 {"min": 2001, "max": 4000, "label": "2001~4000", "color": "yellow"},
                 {"min": 4001, "max": 6000, "label": "4001~6000", "color": "orange"},
                 {"min": 6001, "max": 10000, "label": "6000以上", "color": "red"},
             ]))
Map_China.render(r'肺炎.html')

'C:\\Users\\zzhu1\\Documents\\virus_spreading\\肺炎.html'

In [26]:
count

    title
0   13800
1   14600
2    2350
3    9190
4    3720
5    2550
6    2380
7   10500
8    5970
9    6080
10   5650
11   6980
12   4240
13   5070
14   8110
15   5190
16   5770
17   2370
18   3610
19   4590
20   8580
21   3240
22   4770
23    969
24   2150
25    958
26   3040
27   2190
28   5180
29   4460
30   3360
31   4080
32   7240
33   3880

In [27]:
filtitle

[['13800'],
 ['14600'],
 ['2350'],
 ['9190'],
 ['3720'],
 ['2550'],
 ['2380'],
 ['10500'],
 ['5970'],
 ['6080'],
 ['5650'],
 ['6980'],
 ['4240'],
 ['5070'],
 ['8110'],
 ['5190'],
 ['5770'],
 ['2370'],
 ['3610'],
 ['4590'],
 ['8580'],
 ['3240'],
 ['4770'],
 ['969'],
 ['2150'],
 ['958'],
 ['3040'],
 ['2190'],
 ['5180'],
 ['4460'],
 ['3360'],
 ['4080'],
 ['7240'],
 ['3880']]